<!-- page d'accueil -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Mes comptes</h3>
                        <ul class="list-group">
                            {% for compte in comptes_list %}
                            <a class="btn btn-block administration" href="{% url 'compte_update' compte.alias %}">
                                {{ compte }} ({{ compte.alias }})
                            </a>
                            {% endfor %}
                            <a class="btn btn-success" href="{% url 'compte_create' %}">Ajouter un compte</a>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Mes catégories</h3>
                        <a class="btn btn-success" href="{% url 'metacategorie_create' %}">Ajouter une métacatégorie</a>
                        <h1></h1>
                        {% for meta in metacategories_list %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {{ meta }} &nbsp;
                                        <a class="administration" href="{% url 'metacategorie_update' meta.categorie %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                    {%for categorie in meta.meta.all %}
                                        <li class="list-group-item">
                                            <!--<button type="button" class="btn btn-default btn-lg">{{ categorie }}<a class="btn btn-block administration" href="{% url 'categorie_update' categorie %}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            </button>-->
                                            <a class="btn btn-block administration" href="{% url 'categorie_update' categorie %}"> {{ categorie }} &nbsp;<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                        </li>
                                    {% endfor %}
                                    <a class="btn btn-success" href="{% url 'categorie_create' meta %}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <h3>Mes Opérations</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}