<!-- page d'accueil -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="container">
                <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <form method="post" action="" role="form" class="text-left" >
                {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <!-- Si le template est appelé par /metacategorie/nouvelle/ le champ s'appelle Métacatégorie -->
                        <label class="control-label" for="id_{{ field.name }}">
                        {% if 'metacategorie' in request.path %}
                            Métacatégorie
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                        </label>
                        <div class="form-group">
                          <input class="form-control"
                            name="{{ field.name }}"
                            id="id_{{ field.name }}" 
                            placeholder="{{ field.help_text }}"
                           </div>
                    </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-block btn-primary" value="Valider">Valider</button>
                        <input type="hidden" name="next" value="" />
                </form>
            </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
