<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Application de gestion des dépenses courantes domestiques">
    <meta name="author" content="Jean-Marc LEGRAND - DEV &amp; d'Adam">

    <title>Homebank</title>

    <!-- Bootstrap core CSS
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    Custom CSS for the 'Heroic Features' Template
    <link href="{% static "css/heroic-features.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    <link href="{% static "css/jqcloud.css" %}"rel="stylesheet" type="text/css"/>
     -->
</head>

<body>
<!-- le logo 
    {% if accueil %}
        <div class="page-header text-center">
            <a href="{% url 'accueil' %}"><img src="{% static "img/fond.png" %}" alt="DEV &amp; d'Adam : Des solutions sur-mesure au service des métiers"></a>
        </div>
    {% else %}
        <div class="page-header text-center">
            <a href="{% url 'accueil' %}"><img src="{% static "img/fondbis.png" %}" alt="DEV &amp; d'Adam : Des solutions sur-mesure au service des métiers"></a>
        </div>
    {% endif %}
-->
<div class="container">

<!-- la navigation -->
{% include "comptes/navigation.html" %}


<!-- le contenu -->
    <div class="container blanc">
        {% block content %} {% endblock %}
    </div>
</div>
<!-- le footer 
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><a href="{% url 'accueil' %}"><img src="{% static "img/logo.png" %}" alt="DEV &amp; d'Adam"></p></a>
                </div>
            </div>
        </footer>    
-->
    <!-- JavaScript 
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqcloud-1.0.4.js" %}"></script>
-->
</body>

</html>
