{% load static %}

    <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse" id ="navbarmobile">          
                    <ul class="nav navbar-tabs nav-justified">
                        <li><a href="{% url 'accueil' %}">Accueil</a></li>
                        <li><a href="#">Catégories</a></li>
                        <li><a href="{% url 'comptes-list' %}">Comptes</a></li>
                        <li><a href="#">Analyse</a></li>
                    </ul>
            </div>
    </nav>

