{% load static %}

    <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse" id ="navbarmobile">          
                    <ul class="nav navbar-tabs nav-justified">
                        <li><a href="{% url 'accueil' %}">Accueil</a></li>
                        <li><a href="#" title="Importer un relevé complet">Importer</a></li>
                        <li><a href="#" title="Ajouter une ligne à un compte">Ajouter </a></li>
                        <li><a href="#">Analyse</a></li>
                        <li><a href="/admin/">Administration</a></li>
                    </ul>
            </div>
    </nav>

