<!-- page de connexion -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        {% if form.errors %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center alert alert-danger">
                    <strong>Email et/ou Mot de passe sont incorrects. <br>Merci d'essayer à nouveau.</strong>
                </div>
                <div class="col-md-4"></div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-4 messages"></div>
            <div class="col-md-4">
                <form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form" class="text-left" >
                {% csrf_token %}
                        <button type="submit" class="btn btn-block btn-primary" value="login">Se connecter</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button type="submit" class="btn btn-block btn-primary" value="login">Annuler</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}